<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124374513460-8daqo3oiclnpd7eo181en47lop3h8elo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124374513460-8daqo3oiclnpd7eo181en47lop3h8elo</string>
	<key>API_KEY</key>
	<string>AIzaSyDphWQPh9XSKjEFHIwbMId6TPISAQBOEXw</string>
	<key>GCM_SENDER_ID</key>
	<string>124374513460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SatoriTech</string>
	<key>PROJECT_ID</key>
	<string>satoritech-2061d</string>
	<key>STORAGE_BUCKET</key>
	<string>satoritech-2061d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124374513460:ios:7f3eef1b7a381f2b26d761</string>
</dict>
</plist>